:root {
    --primary-color: #021944;
    --second-color: rgb(21, 155, 215);
    --white-color: #fff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: "Roboto", serif;
    scroll-behavior: smooth;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
    transition: 0.25s;
}

a:hover {
    opacity: 0.85;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    background: var(--primary-color);
    color: var(--white-color);
    z-index: 999;
}

.header .logo_link {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header .logo_img {
    width: 50px;
}

.header .school-name {
    font-weight: 700;
    text-transform: uppercase;
}

.header .nav-list {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 100%;
    text-transform: uppercase;
}

.header .nav-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 50px;
    z-index: 2;
    background: var(--primary-color);
}

.header .nav-item a {
    font-weight: 300;
}

.header .nav-item i {
    margin-left: 4px;
    transition: transform 0.2s ease-in-out;
}

.header .nav-item:hover i {
    transform: rotate(180deg);
}

.header .sub-nav {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 25px;
    border-radius: 2px;
    background: var(--primary-color);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    text-transform: capitalize;
    transition: 0.4s ease-in-out;
}

.header .nav-item:hover .sub-nav {
    top: 100%;
    opacity: 1;
    visibility: visible;
    z-index: unset;
}

.header .sub-nav_item + .sub-nav_item {
    margin-top: 10px;
}

.header .sub-nav_item a {
    transition: 0.3s;
    display: block;
    padding: 4px 0;
}

.header .sub-nav_item a:hover {
    color: #ffc03d;
}

/* Main */
.hero {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
}

.hero .slider {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.hero .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.hero .slide.active {
    opacity: 1;
}

/* Nút điều hướng */
.prev,
.next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(235, 234, 234, 0.25);
    border-radius: 50%;
    color: rgb(6, 202, 247);
    border: none;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
}

.prev {
    left: 20px;
}
.next {
    right: 20px;
}

.prev:hover,
.next:hover {
    color: rgb(5, 226, 247);
    background: rgba(255, 254, 254, 0.85);
}

/* Chấm tròn điều hướng */
.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.dot.active {
    background: white;
}

/* News */
.news {
    padding: 60px 0;
}

.news-title {
    font-size: 3.5rem;
    line-height: 5.6rem;
    font-weight: 700;
    color: #021844;
    text-align: center;
}

.news-container {
    display: flex;
    column-gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
}

.news-card {
    width: 400px;
    height: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.news-card {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.news-card.show {
    opacity: 1;
    transform: translateY(0);
}

.news-card:hover .news-img {
    scale: 1.05;
}

.news-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 1.5s;
}

.news-info {
    padding: 20px 30px;
    text-align: center;
}

.info-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #808080;
}

.red {
    color: red;
    padding: 0 5px;
}

.highlight {
    transition: 0.5s;
    color: #333;
}

.highlight:hover {
    color: red;
}

.info-bottom {
    margin-top: 15px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: 0.3s;
}

.new-item_col .info-bottom {
    padding: 6px 0;
}

.info-bottom:hover {
    color: var(--second-color);
}

.view-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    background: var(--second-color);
    color: #fff;
    border: none;
    position: relative;
    width: 160px;
    height: 45px;
    font-size: 1.5rem;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.view-more:hover {
    background: #fff;
    color: var(--second-color);
}

.view-more:before,
.view-more:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--second-color);
    transition: 400ms ease all;
}

.view-more:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.view-more:hover:before,
.view-more:hover:after {
    width: 100%;
    transition: 600ms ease all;
}

.ml {
    margin-left: 10px;
    transition: 0.5s;
}

.view-more:hover .ml {
    transform: translateX(10px);
}

/* Overview */
.overview {
    display: flex;
    padding: 150px 0;
}

.overview-info {
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.overview-info.show {
    opacity: 1;
    transform: translateY(0);
}

.overview-col.col1 {
    position: relative;
    width: 45%;
    padding-top: 140px;
    flex-shrink: 0;
}

.overview-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    padding: 30px 50px;
    text-align: center;
    z-index: 2;
}

.overview-bg {
    position: relative;
}

.overview-bg::before {
    border-top: 600px solid #fff;
    border-left: 15vw solid transparent;
    right: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.overview-bg img {
    width: 100%;
}

.overview-bg img {
    opacity: 0.25;
}

.overview-info_title {
    font-size: 3.5rem;
    line-height: 1.6;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

.overview-info_sub-title {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 300;
}

.overview-info_bottom {
    margin-top: 30px;
    color: #1a1a1a;
    font-weight: 400;
    text-align: justify;
}

.overview-info_bottom p {
    overflow: hidden;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.overview-col.col2 {
    position: relative;
}

.overview-col.col2::before {
    border-bottom: 600px solid #fff;
    border-right: 15vw solid transparent;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.overview-col.col2 img {
    width: 100%;
    height: 560px;
    object-fit: cover;
    object-position: 36% 100%;
}

/* Club */
.club {
    margin-top: 40px;
}

.club-title {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.6;
    font-weight: bold;
    color: #021844;
    text-transform: uppercase;
}

.club-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.club-item {
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.club-wrap {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.club-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.club-item:hover img {
    scale: 1.05;
}

.club-item-link:hover {
    opacity: unset;
}

.club-name {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

/* Back Top */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid var(--second-color);
    color: var(--second-color, #007bff);
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    box-shadow: rgba(21, 155, 215, 0.5) 0px 15px 25px,
        rgba(21, 155, 215, 0.8) 0px 5px 10px;
}

.back-to-top:hover {
    box-shadow: var(--second-color) 0px 1px 2px, var(--second-color) 0px 2px 4px,
        var(--second-color) 0px 4px 8px, var(--second-color) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.back-to-top.hide {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
}

/* Footer */
.footer {
    margin-top: 100px;
    background: var(--primary-color);
    color: white;
}

.footer-wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px 30px;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 2.6fr;
    column-gap: 40px;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_school-name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_logo {
    width: 130px;
}

.footer-item {
    margin-bottom: 20px;
}

.footer-item .title {
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-item .sub-title {
    font-size: 1.3rem;
    line-height: 1.5;
}

.footer-bottom {
    text-align: center;
    font-weight: 200;
    margin-top: 50px;
}

/* News Page */
.news-header {
    width: 100%;
    height: 500px;
}

.news-bg {
    width: 100%;
    height: 100%;
    background: url(../images/bg-news.jpg) no-repeat center;
    background-size: cover;
}

.news-header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--white-color);
    font-size: 3rem;
    line-height: 4.8rem;
    font-weight: 700;
    background: #0000004b;
}

.news-page-container,
.contact-page-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.news-map {
    padding: 15px 0;
    font-size: 1.3rem;
}

.news-map_link {
    color: var(--second-color);
    text-decoration: none;
    position: relative;
    margin-right: 4px;
}

.news-map_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Điều chỉnh khoảng cách gạch chân */
    width: 100%;
    height: 2px;
    background: currentColor; /* Giữ màu giống màu chữ */
    transform: scaleX(0); /* Ẩn gạch chân ban đầu */
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.news-map_link:hover::after {
    transform: scaleX(1); /* Hiển thị gạch chân khi hover */
}

.news-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 30px;
}

.news-item {
    display: flex;
    column-gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: 0.4s;
}

.news-item:hover {
    transform: translateY(-6px);
}

.new-item_col {
    width: 240px;
    height: 145px;
    overflow: hidden;
    flex-shrink: 0;
}

.new-item_col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}

.news-item:hover .new-item_col img {
    scale: 1.05;
}

.news-item_col .info-top {
    padding-top: 8px;
}

/* Contact Page */
.contact-info-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 10px;
}

.contact-list {
    margin-top: 20px;
}

.contact-item {
    line-height: 1.6;
    margin-bottom: 10px;
}

.contact-item strong {
    font-weight: bold;
}

.contact-gg-map {
    margin-top: 60px;
    width: 100%;
}

.contact-form {
    margin-top: 100px;
}

.contact-form-title {
    font-size: 2.5rem;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.contact-form-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
}

.form-group .form-label {
    font-size: 1.8rem;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.form-label label {
    font-weight: 300;
}

.form-label .require {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #c10808;
    margin-right: 40px;
}

.form-group input,
.form-group textarea {
    flex: 1;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    background-color: #f7f7f8;
    border-color: #f7f7f8;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid var(--second-color);
}

.form-group:nth-child(4) {
    border-bottom: 1px solid #e5e5e5;
}

/* Overview Page */
.overview-page-header {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6.72rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    background: url(../images/school.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.overview-page-sub-title {
    display: inline-block;
    font-size: 5rem;
    line-height: 8rem;
    color: inherit;
}

.overview-page-container {
    background: var(--primary-color);
    padding: 100px 0;
    position: relative;
    color: var(--white-color);
    -webkit-box-shadow: 0px -12px 20px 3px var(--primary-color);
    box-shadow: 0px -12px 20px 3px var(--primary-color);
}

.overview-page-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: -o-linear-gradient(270deg, rgba(2, 24, 68, 0) 0%, #021844 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(2, 24, 68, 0)),
        to(#021844)
    );
    background: -o-linear-gradient(top, rgba(2, 24, 68, 0) 0%, #021844 100%);
    background: linear-gradient(180deg, rgba(2, 24, 68, 0) 0%, #021844 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#021844", endColorstr="#021844",GradientType=0 );
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.overview-page-wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

.overview-page-container-header {
    font-size: 3rem;
    line-height: 4.7rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-row {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.content-row.db {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.content-row.db .content-col img {
    width: 100%;
}

.content-row.db .content-col p {
    margin-bottom: 20px;
}

.ft {
    text-transform: uppercase;
    z-index: 2;
}